/* styles/slider.module.scss */

/* Styling for the container of the entire slider */
.sliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Add this to wrap the slide items to the next row */
  max-width: 1200px; /* Add a max-width to limit the width of the slider */
  margin: 0 auto; /* Center the slider on the page */
}

/* Styling for each slide item */
.slideItem {
  flex: 0 0 calc(33.3333% - 20px); /* Each slide takes up 1/3 of the container width with some margin */
  margin: 10px; /* Add some margin between the slide items */
}

/* Styles for images inside slide items */
.slideItem video {
  width: 100%;
  height: auto;
  display: block;
}
